<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBInwEp6A0wuMma-4w8xutT61tANjWb34I</string>
	<key>GCM_SENDER_ID</key>
	<string>386305602098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signUpTest</string>
	<key>PROJECT_ID</key>
	<string>signuptestapp-a6dde</string>
	<key>STORAGE_BUCKET</key>
	<string>signuptestapp-a6dde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386305602098:ios:d0d6614a1212bce3c5c22b</string>
</dict>
</plist>